  body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: black;
  }
  
  body,
  html {
    overflow-x: hidden;
  }
  
  .space {
    height: 15px;
  }
  
  /* Default styles */
  .line {
    width: 100%;
    border-bottom: solid 1px white;
  }
  
  .card {
    width: 100%;
    border: solid 1px white;
  }
  
  th {
    font-weight: bold;
    color: white; /* Light mode table header text color */
    padding: 4px;
    text-align: center;
    border-top: dotted 1px white;
    border-bottom: dotted 1px white;
  }
  
  td {
    padding: 4px;
    text-align: center;
    color: white; 
  }
  
  input {
    font-size: medium;
    width: 80px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: dotted 1px white;
    text-align: center;
    color: white;
    background-color: black;
  }
  
  input:focus {
    border-bottom: dotted 2px orangered;
    outline: none;
  }
  
  
  .buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  button {
    background-color: transparent;
    color: white;
    border: transparent;
    cursor: pointer;
    padding: 10px 20px;
  }
  
  button:hover {
    background-color: white;
    color: black;
  }
  
  .button:active {
    background-color: white;
    color: black;
  }
  
  h2 {
    text-align: center;
    font-size: 15px;
    font-stretch: 20%;
    margin: 0;
    color: white;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding-top: 10px;
  }
  
  .container h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
    color: white;
    margin: 0;
  }
  
  .juice {
    width: 120px;
    height: auto;
    border-radius: 10px;
    right: 0;
  }
  
  /* Hamburger Menu */
  .hamburger-menu {
    position: absolute;
    top: 1rem;
    right: 1rem; /* Align hamburger menu to the left */
    z-index: 10;
    cursor: pointer;
  }
  
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 30px;
  }
  
  .hamburger-icon .dot {
    width: 6px; /* Small circle size */
    height: 6px;
    background-color: white; /* Dots color */
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  
  /* Hamburger menu becomes an "X" */
  .hamburger-icon.open .dot:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    width: 30px; /* Transform into a bar for X */
    border-radius: 0;
  }
  
  .hamburger-icon.open .dot:nth-child(2) {
    opacity: 0; /* Hide middle dot */
  }
  
  .hamburger-icon.open .dot:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    width: 30px; /* Transform into a bar for X */
    border-radius: 0;
  }
  
  /* Navigation Menu */
  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .nav-menu.visible {
    opacity: 1;
    visibility: visible;
  }
  
  .nav-menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .nav-menu ul li {
    margin: 20px 0;
  }
  
  .nav-menu ul li a {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
  }
  
  .nav-menu ul li a:hover {
    color: #03f4fc;
  }
  
  /* Footer */
  footer {
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;  /* Or 'sticky' to stay at the bottom of the page */
    margin-top: auto;  /* Pushes the footer to the bottom */
  }
  
